.headMyRecords {
    color: #fff;
    font-size: 40px;
    margin-top: 0px;
    width: 1007px;
    background-color: green;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 105px;
    height: 60px;
}

.myRecContainer {
    width: 1007px;
    height: 900px;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    position: absolute;
    top: 200px;
}

.myRecContainer h1 {
    text-align: center;
}

.link {
    background-color: green;
    margin-bottom: 10px;
    color: #eee;
    border-radius: 4px;
    height: 50px;
    text-decoration: none;
    border: none;
    font-size: large;
    text-align: center;
}

.viewRec {
    margin-left: 440px;
    margin-bottom: 30px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 40px
}

.viewRec:focus {
    outline: none;
}

.viewRec:hover {
    background-color: #fff;
    color: black;
}