.myRecContainer {
  width: 80%;
  height: 900px;
  background-color: #fff;
  margin-top: 70px;
}

.myRecContainer h1 {
  text-align: center;
}

.myRecContainerActive {
  position: absolute;
  width: 100%;
  height: 900px;
  background-color: #fff;
  margin-top: 70px;
  left: 0;
}

.Head h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 100%;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

@-moz-document url-prefix() {
  .Head h1 {
    width: 100%;
  }
}

.HeadActive h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 100%;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

.mrTwidth {
  width: 80%;
  margin-left: 10%;
  background-color: '#fff'
}

.mrTwidthActive {
  width: 80%;
  margin-left: 10%;
  background-color: '#fff'
}

.viewRec {
  width: 16%;
  margin-left: 42%;
  margin-bottom: 30px;
  background-color: #00a652;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 45px;
}

.viewRecActive {
  width: 16%;
  margin-left: 42%;
  margin-bottom: 30px;
  background-color: #00a652;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 45px;
}

.viewRec:focus {
  outline: none;
}

.viewRec:hover {
  background-color: #24a0ed;
  color: #fff;
}

.viewRecActive:focus {
  outline: none;
}

.viewRecActive:hover {
  background-color: #24a0ed;
  color: #fff;
}