.MDcontainer {
  width: 80%;
  height: 56.25rem;
  background-color: #fff;
  margin-top: 70px;
}

.MDActiveCont {
  position: absolute;
  width: 100%;
  height: 56.25rem;
  background-color: #fff;
  margin-top: 70px;
  left: 0;
}

.MDActiveCont h1 {
  text-align: center;
}

.MDcontainer h1 {
  text-align: center;
}

.MD h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 100%;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

@-moz-document url-prefix() {
  .MD h1 {
    width: 100%;
  }
}

.MDActive h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 100%;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}