.MDcontainer {
  width: 80%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  margin-left: 10px;
  justify-content: space-between;
  /* margin-left: 130px; */
}

.MDActiveCont {
  width: 100%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.MDActiveCont h1 {
  text-align: center;
}

.MDcontainer h1 {
  text-align: center;
}

.MD h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1282px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

.MDActive h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1025px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}




