.VEContainer {
    width: 80%;
    height: 900px;
    margin-left: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.VEContainerActive {
    width: 100%;
    height: 900px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.VEContainer h1 {
    text-align: center;
}

.VEContainerActive h1 {
    text-align: center;
}

.VEhead h1 {
    text-align: center;
    font-size: 40px;
    background-color: #00a652;
    width: 1284px;
    color: #fff;
    margin-top: 0px;
    height: 60px;
}
@-moz-document url-prefix() {
    .VEhead h1 {
        width: 1287px;
    }
}


.VEheadActive h1 {
    text-align: center;
    font-size: 40px;
    background-color: #00a652;
    width: 1025px;
    color: #fff;
    margin-top: 0px;
    height: 60px;
}

.vieweditWidth {
    width: 900px;
    margin-left: 192px;
    background-color: #fff
}

.vieweditWidthActive {
    width: 1025px;
    
    background-color: #fff;
}