.UTcontainer {
  width: 80%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  margin-left: 10px;
  justify-content: space-between;
}

.UActiveCont {
  width: 100%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.UActiveCont h1 {
  text-align: center;
}

.UTcontainer h1 {
  text-align: center;
}

.Progress h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1282px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

.ActiveProg h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1025px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

.mark {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.uB {
  background-color: #00a652;
  color: #fff;
  text-decoration: none;
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 2px;
}

.uB:hover {
  background-color: #24a0ed;
  color: #fff;
}

.uB:focus {
  outline: none;
}