h1 {
  font-size: 30px;
}

ul li a {
  font-size: 35px;
  color: green;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: none;
  color: darkgreen;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.sticky-wrapper {
  position: relative;
  height: 3rem;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}