.Container {
  width: 62.938rem;
  height: 56.25rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
  margin-left: 130px;
  position: absolute;
  top: 12.5rem;
}

.hp {
  text-align: center;
}

.link {
  width: 150px;
  background-color: green;
  margin-bottom: 0.625rem;
  color: white;
  border-radius: 0.25rem;
  height: 3.125rem;
  text-decoration: none;
  border: none;
  font-size: large;
  text-align: center;
  margin-top: 5px;
}

.link:hover {
  background-color: white;
  color: black;
}

.link:focus {
  outline: none;
}

/* a {
    color: #fff;
} */

/* a:hover {
    color: black;
} */

.tab {
  top: 12.5rem;
  left: -5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.btnLogOut {
  border: none;
  background-color: green;
  color: #fff;
  width: 150px;
  height: 50px;
  margin-left: 100px;
}

.btnLogOut:hover {
  background-color: white;
  color: black;
}

.btnLogOut:focus {
  outline: none;
}
