.AdminWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15.5rem;
}

@-moz-document url-prefix() {
  .AdminWrapper {
    margin-top: 16.25rem;
    /* color: lime; */
  }
}

.AContainer {
  width: 62.938rem;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* margin-left: 130px;
  position: absolute;
  top: 12.5rem; */
}

.hp {
  text-align: center;
}

.link {
  width: 150px;
  background-color: green;
  margin-bottom: 0.625rem;
  color: white;
  border-radius: 0.25rem;
  height: 3.125rem;
  text-decoration: none;
  border: none;
  font-size: large;
  text-align: center;
  margin-top: 5px;
}

.link:hover {
  background-color: #24a0ed;
  color: #fff;
}

.link:focus {
  outline: none;
}

.tab {
  top: 12.5rem;
  left: -5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.btnLogOut {
  border: none;
  background-color: #00a652;
  color: #fff;
  width: 150px;
  height: 50px;
  margin-left: 100px;
}

.btnLogOut:hover {
  background-color: #24a0ed;
  color: #fff;
}

.btnLogOut:focus {
  outline: none;
}