._trackWrapper {
  position: absolute;
  margin-top: 15.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@-moz-document url-prefix() {
  ._trackWrapper {
    margin-top: 16.25rem;
    /* color: lime; */
  }
}

.Tcontainer {
  width: 80%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  margin-left: 10px;
  justify-content: space-between;
  /* margin-left: 130px; */
}

.ActiveCont {
  width: 10000%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;

  justify-content: space-between;
}
.ActiveCont h1{
  text-align: center;
}
.Tcontainer h1 {
  text-align: center;
}

.link {
  background-color: #00a652;
  margin-bottom: 0.625rem;
  color: #fff;
  border-radius: 0.25rem;
  height: 3.125rem;
  text-decoration: none;
  border: none;
  font-size: large;
  text-align: center;
}

.Lout {
  border: none;
  background-color: #00a652;
  color: #fff;
  width: 150px;
  height: 50px;
}

.Lout:hover {
  background-color: #24a0ed;
  color: #fff;
}

.Lout:focus {
  outline: none;
}

.ImgContainer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}