.Tcontainer {
   width: 62.938rem;
   height: 56.25rem;
   background-color: #ebebeb;
   display: flex;
   justify-content: space-between;
   margin-left: 130px;
   position: absolute;
   top: 12.5rem;
}

.Tcontainer h1 {
   text-align: center;
}

.link {
   background-color: green;
   margin-bottom: 0.625rem;
   color: #eee;
   border-radius: 0.25rem;
   height: 3.125rem;
   text-decoration: none;
   border: none;
   font-size: large;
   text-align: center;
}

.Lout {
   border: none;
   background-color: green;
   color: #fff;
   width: 150px;
   height: 50px;
}

.Lout:hover {
   background-color: white;
   color: black;
}

.Lout:focus {
   outline: none;
}

.ImgContainer {
   background-color: lightgray;
   display: flex;
   flex-direction: column
}