.Tcontainer {
  width: 80%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  margin-left: 10px;
  justify-content: space-between;
}

.ActiveCont {
  width: 10000%;
  height: 56.25rem;
  background-color: #fff;
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.ActiveCont h1 {
  text-align: center;
}

.Tcontainer h1 {
  text-align: center;
}

.THEAD h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1282px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}

.THEADACTIVE h1 {
  text-align: center;
  font-size: 40px;
  background-color: #00a652;
  width: 1025px;
  color: #fff;
  margin-top: 0px;
  height: 60px;
}