.changeDetailContainer{
    height: 50px;
   
  
    width: 500px;
    margin-left: 110px;
    
}
.changepara{
    margin-top: 0px;
   
    width: 500px; 
    margin-left: 110px;
    font-size: 25px;
    color: black;
}